<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
<script>


  function initialize() {
    var map;
    var myLatlng = new google.maps.LatLng(40.719017, -73.839066);
        
    var mapOptions = {
    zoom: 12,
    center:myLatlng
    };
    
    map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
    
    // To add the marker to the map, use the 'map' property
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"Hello World!",
      animation: google.maps.Animation.DROP
    
    });
      
  }
  
  //google.maps.event.addDomListener(window, 'load', initialize);

  
  function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCclwbSN5TG86Q-k3pWEBOlu2KY6Llc23A&sensor=true&callback=initialize';
      document.body.appendChild(script);
  }

  window.onload = loadScript;
  
</script>







<%= provide(:title, "Home") %>

 
 
	
    

<div class="jumbotron">
	<h1>Welcome !!</h1>
     <p> ............................ </p>
     
</div>

<div class="row">

  <div class="col-xd-5 col-md-9">
  
  	<div id="map-canvas" class="map"></div>
  	
  	
  </div>

  <div class="col-md-3">
  <img class="img-round" data-src="holder.js/260x440" alt="Generic placeholder image">
  </div>

</div><!-- row -->

<br/><br/><br/><br/><br/>





