<%- if controller_name != 'sessions' %>
	<span class="text-muted"> Have an account ? </span> <%= link_to "Log In", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<span class="text-muted"> Don't have an account ?</span> <%= link_to "Sign Up", new_registration_path(resource_name) %><br />
<% end -%>