<% provide(:title, "All users ") %>
<style type="text/css">
	/* Users index */

	

</style>



<h1> All Users </h1>

	<%= will_paginate %>

		<ul class="users">
			<%= render @users %>	
		</ul>

	<%= will_paginate %>
