

    <div id="_" class="row detail">
        <div class="col-md-9">
            <div class='fb-like' data-href='http://around-u.org' data-show-faces='true' data-share='true'></div>
            <address>
                <h2> <span id="p_address"></span> </h2>       
            </address>  
        </div>
        <div class="col-md-3">
            <button id="collection_btn" class="btn btn-lg"><span id="span_heart" class="glyphicon glyphicon-heart "></span></button>            

            <button id="btn_close" type="button" class="close" aria-hidden="true">x</button>

        </div>
    </div>

    
    <div class="row">
        <div class="col-lg-6" style="padding-left: 0px; padding-right: 0px;">
            
            <div id="p_photo_0"></div>
            <!--<img data-src="holder.js/550x360" alt=""> -->

            <div class="row">

                <div class="col-lg-12">
                    <hr>        
                </div>


                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                    <div id="p_photo_1" class="small_photo"></div>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="p_photo_2" class="small_photo"></div>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="p_photo_3" class="small_photo"></div>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="p_photo_4" class="small_photo"></div>
                    </a>
                </div>

            </div> 

            <span><h3> Contact </h3> </span> 
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td><strong><span id="p_contact_name"></span></strong></td>
                        </tr>

                        
                        <tr>
                            <td>Phone</td>
                            <td><span id="p_contact_phone"></span></strong></td>
                        </tr>
                  
                        
                        <tr>
                            <td>Email</td>
                            <!--
                            <td><button id="email_btn" class="btn btn-lg btn-mail"><span id="span_email" class="glyphicon glyphicon-envelope"></span></button></td>
                            -->
                            <td>
                                <a id="send_mail" data-toggle="modal" data-target="#remoteModal" class="btn btn-default"><span id="span_email" class="glyphicon glyphicon-envelope"></span>  Send Mail</a>
                            </td>
                        </tr>
                        
                            
                    </tbody>    
                </table>    

           

            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->

        </div><!-- /.col-lg-6 -->
        <!-- sliders for images -->
        <div class="col-lg-6">
            
            <span><h3 class="top_h3"> Description </h3> </span>  
                <div id="p_description"></div>
               


            <span><h3> Information </h3> </span> 
            <div class="col-xs-12 col-md-6">
                <table class="table table-hover" >
                    <tbody>  
                        <tr>  
                            <td>Type</td>  
                            <td><%#= render_type @property.category %><span id="p_type"></span> </td>  
                        </tr> 

                        <tr>  
                            <td>Bed</td>  
                            <td><strong><span id="p_bed"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>Bath</td>  
                            <td><strong><span id="p_bath"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>Date</td>  
                            <td><strong><span id="p_date"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>People</td>  
                            <td><strong><span id="p_people"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>Utitlity</td>  
                            <td><strong><span id="p_utility"></span></strong></td>  
                        </tr>


                    </tbody>
                </table>    
                
            </div>
            <div class="col-xs-12 col-md-6">
                <table class="table table-hover" >
                    <tbody>  
                        <tr>  
                            <td>Price</td>  
                            <td><strong>$<span id="p_price"></span></strong></td>  
                        </tr> 

                        <tr>  
                            <td>Deposit</td>  
                            <td><strong><span id="p_deposit"></span> /Month</strong></td>  
                        </tr>

                        <tr>  
                            <td>Contract</td>  
                            <td><strong><span id="p_contract"></span> /Month</strong></td>  
                        </tr>

                        <tr>  
                            <td>Broker Fee</td>  
                            <td><strong>$ <span id="p_broker_fee"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>Gender</td>  
                            <td><strong><span id="p_gender"></span></strong></td>  
                        </tr>

                        <tr>  
                            <td>Pet</td>  
                            <td><strong><span id="p_pet"></span></strong></td>  
                        </tr>


                    </tbody>
                </table>    

            </div>                 
           
        </div><!-- /.col-lg-6 -->
        
    </div><!-- /.row -->

 


 <!-- Modal -->  
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
    <div class="modal-dialog">  
        <div class="modal-content">
        </div>  
    </div>  
</div>  
<!-- /.modal -->     


 

<script type="text/javascript">
    /*
    $( "#email_btn" ).hover(function() {
    
        $( this ).fadeOut( 500 );
        $( this ).fadeIn( 500 );
    
    });

    */


    /* for collection button */
    /*                    
    $( "#collection_btn" ).hover(function() {
        
        if (! $( "#span_heart" ).hasClass( "red" )) {
            $( this ).fadeOut( 500 );
            $( this ).fadeIn( 500 );
        }   
    });
    */
    
    /*
    $(document).on("click", "#collection_btn", function(){  
        //chekc if login?
        if ( <%= signed_in? %>) {
            var url;
         //if there's a heart then remove this property from list and change the color of the heart
            if ($( "#span_heart" ).hasClass( "red" )) {
                url = "<%#= del_collection_property_path %>";
            } else {
                url = "<%#= add_collection_property_path %>";
            }
                      
            $.ajax({
             
              url: url,
              //type: 'POST',
              cache: false,
              contentType: false,
              processData: false,
              //dataType: 'json', 
              
              success: function(){
                //alert('added');
                if ($( "#span_heart" ).hasClass( "red" )) {
                    $('#span_heart').removeClass("red");
                } else {
                    $('#span_heart').addClass("red");
                }
              },
              error: function(){
                //alert('failure');
              }
            })

        } else {   // not login
            
            alert("please signin first");
        }

        return false;
    }); 
     */

</script>