 $('#items').html('<%= escape_javascript(render("/searches/property")) %>');
 $('#msg').html("<h4> You are looking for the properties near  <%= @search_query %></h4>We found : <%= pluralize(@count, ' record') %>");
 buildMap(<%=raw @hash.to_json %>); 
