

<%= form_for(@post) do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Give comment ..." , :style => 'width:100%'%>
	</div>

	<%= f.submit "POST", class: "btn btn-large btn-primary" %>
<% end %>		