<div class="navbar navbar-fixed-bottom">	
  <footer>
    <div class="container">
      <div class="pull-right"> <a href="#"> Back to the top </a> </div>
        <div>&copy 2014 Company Co. <a href="#">Terms of Service</a> <a href="/privacy">Privacy</a></div>
            
    </div>
  </footer>
  
</div>
